<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">UserManagment UI</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" title="Sign Out"><span class="fas fa-lg fa-sign-out-alt"></span></a>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}