################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UserManagementApp/.vs/*
./UserManagementApp/UserManagement.*/bin/*
./UserManagementApp/UserManagement.*/obj/*
./UserManagementApp/UserManagement/bin/*
./UserManagementApp/UserManagement.API/obj/*

# Build results
[Dd]ebug/[Nn]etcoreapp3.1/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

**/bin/*


/UserManagementApp/UserManagement.UI/bin/*
/UserManagementApp/UserManagement.UI/obj/*
/UserManagementApp/UserManagement.DataAccess/UserManagement.DataAccess.csproj.user
/UserManagementApp/UserManagement.Business.Tests/UserManagement.Business.Tests.csproj.user

*.pdb
*.dll

.idea
/UserManagementApp/UserManagement/bin/
*.user
